{% extends 'base.html' %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ tasks.name }}</h1>
            <p>{{ tasks.description }}</p>
            <h2>Tasks</h2>
            <a href ="{% url 'create_task' %}">Create a new task</a>
            {% if tasks.tasks.all|length_is:'0' %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
